<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      News App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card *ngFor="let article of articles"> 
      <ion-img *ngIf="article.urlToImage" [src]="article.urlToImage"></ion-img>
      <ion-card-header>
        <ion-card-subtitle> {{ article.publishedAt | date }} - {{ article.source.name}} </ion-card-subtitle>
        <ion-card-title> {{ article.title }} </ion-card-title>
      </ion-card-header>

      <ion-card-content>{{ article.description }}</ion-card-content>
    </ion-card>

  </ion-content>
